.p{
    padding: 0;
    margin: 0;
}
body{
    height:100%;
    margin:0;
    padding:0;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    cursor: url(/specialimages/multimeter.png), auto;
}
