html{
    height: 100%;
}
.p{
    padding: 0;
    margin: 0;
}
body{
    min-height:100%;
    margin:0;
    padding:0;
    background-image: url("/specialimages/night.jpg");
    background-color: black;
    background-attachment: fixed;


    /*
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top,rgb(37, 37, 37),rgb(26, 26, 26));
    cursor: url(/specialimages/multimeter.png), auto;
    
    */
}