.page{
    display: flex;
    flex-direction: column;
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(236, 236, 50);
}
.page_top{
    position: fixed;
    top: 0px; 
    left: 0px; 
    right: 0px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(87, 87, 87);
    background-color: rgb(63, 63, 63);
    
    font-weight: 700;
}
.return_icon{
    display: flex;
    flex: 10%;
    justify-content: center;
    margin-left: 2%;
}
.return_icon:hover{
    background-image: url("/project_images/returnb\ hover.svg");
    background-repeat:no-repeat;
    background-position: center;
}


.page_title{

    display: flex;
    flex: 90%;
    align-items: center;
    justify-content: center;
    margin-right: 10%;

}

.project_list{
    background-color: rgb(15, 15, 15,.9);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.disclaimer{
    font-size: small;
    text-align: center;
}
.project_template{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}
.project_title{
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.project_contents{
    display: flex;
    flex-direction: row;
    font-weight: 400;
}
.project_image{
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    justify-content: center;
   
}

.pimg{
    display: flex;
    height: 100%;
    max-height: 250px;
    border: 1px solid transparent;
}
.pimg:hover{
    border: 1px solid;
    border-color: rgb(49, 49, 49);
}
.pimg:active{
    border: 1px solid;
    border-color: rgb(63, 63, 63);
}
.project_description{
    display: flex;
    flex-direction: column;
    flex: 1;
}
